@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProjectViewModel> topAdvs = (List<ProjectViewModel>)ViewData["TopAdvs"];
}

<div class="main">
    <center><h2 class="section-heading pb-md mt-2">Our Projects</h2></center>

    <ul class="cards">
        @foreach (var adv in topAdvs)
        {
            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        @if (adv.BeforeImages.Count > 0)
                        {
                            <img src="data:image/jpg;base64,@adv.BeforeImages.First()" class="card-img card-img-top" style="height:100%;width:100%" alt="adv" />
                        }
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@adv.Name</h5>
                        <div style="background-color:aliceblue"></div>
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">@adv.Name</h2>
                        <p class="card_text">@adv.Category.Name</p>

                        <a asp-action="Details" asp-controller="Project" asp-route-id="@adv.Id" class="lnk-advdetails btn btn-outline-primary" title="@adv.Name">  <i class="fa fa-info-circle fa-2x"></i>  <h6>View Details</h6>  </a>


                    </div>
                </div>
            </li>
        }
    </ul>
</div>







@section Scripts{
    <script type="text/javascript">
        $(".lnk-advdetails").click(function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            var title = $(this).attr("title");
            $.ajax(
                {
                    url: url
                }
            ).done(function (advdetails) {
                //show details adv modal dialog
                $("#advdialog-title").text(title);
                $("#advdialog-body").html(advdetails);
                $("#advdialog").modal();
            });
        });

        $("body").on("click", "#addToCart", function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            var id = $(this).attr("data-Id");
            $.ajax({
                url: '/cart/AddItemInCart/' + id,
                type: 'get',
                success: function (response) {
                    var html = '<h4>' + response.count + '</h4>';
                    //$("#cartCountAdd").append(html);
                    console.log(html);
                    $("#mycountADDEDEDE").html(html);
                }, error: function () {

                }
            });
        });
    </script>
}
